link(rel='stylesheet', href='/stylesheets/style.css')


div#sign-in-register-container
  h1 TaskMaster
  p#success=title
  h3 Sign In
  form#signIn(action='/login', method='post')
    label(for='username') Username: 
    input#username(type='text', name='username')
    br
    label(for='password') Password:
    input#password(type='password', name='password')
    br
    input#submit(type='submit', value='Sign In')
    br
  a#create(href='/register') Create account
      
